{
	admin off
	auto_https off
	servers {
		metrics off
	}
}

:3000 {
	root * /srv

	file_server {
		precompressed br gzip
	}

	@dotfiles path_regexp \/\.
	respond @dotfiles 404

	log {
		output stdout
		format console
		level INFO
	}
}
